.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    border: 1em solid black;
    padding: 1em;
    width: 800px;
    height: 800px
}


.dot{
  height: 80%;
  width: 80%;
  background-color: green;
  display: inline-block;
  position: absolute;
  top: 0%
}
.grid_item{
  border: 2px solid black;
  text-align: center;
  font-size: 30px;
  position: relative
}
#item1{
  background-color: red;
}

#item2{
  background-color: yellow;
}

#item3{
  background-color: blue;
}

#item4{
  background-color: red;
}

#item5{
  background-color: yellow;
}

#item6{
  background-color: blue;
}
